anyio
appdirs
arff 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-generator
attrs
backcall
backports-abc
backports-shutil-get-terminal-size
bcrypt
beautifulsoup4
bitarray
bitstring 
bleach
certifi
cffi
chardet 
charset-normalizer
cloudpickle 
comm
contourpy
cryptography  
cycler
Cython 
deap 
debugpy
decorator  
defusedxml
distlib
distro  
dnspython  
ecdsa
entrypoints
exceptiongroup  
executing  
fastjsonschema 
filelock
fonttools
funcsigs
gdown 
gtimer
gym
gym-notices 
idna  
importlib-metadata
importlib-resources  
ipykernel  
ipython
ipython-genutils
jedi
Jinja2 
jsonschema  
jsonschema-specifications
jupyter-client 
jupyter-core
kiwisolver  
lockfile  
MarkupSafe  
matplotlib  
matplotlib-inline 
mistune 
mock 
more-itertools
mpmath
nest-asyncio 
netaddr  
netifaces 
networkx  
nose  
numpy 
packaging
pandas 
pandocfilters 
paramiko
parso  
path  
path.py
pathlib2 
pbr 
pexpect
pickleshare  
Pillow 
pip
pkgutil-resolve-name  
platformdirs  
prometheus-client 
prompt-toolkit  
psutil  
ptyprocess
pure-eval
pycparser
Pygments  
PyNaCl
pyparsing 
pyrsistent
PySocks 
python-dateutil 
python-json-logger
pytz 
PyYAML 
pyzmq
referencing 
requests  
rfc3339-validator  
rfc3986-validator 
rpds-py 
scikit-build 
scipy
Send2Trash  
setuptools
setuptools-scm
simplegeneric  
singledispatch
six
sk-video
sniffio 
soupsieve
stack-data  
sympy 
terminado
testpath 
tinycss2  
tomli 
torch 
tornado  
tqdm 
traitlets  
typing-extensions  
tzdata 
urllib3 
virtualenv
wcwidth  
webencodings  
websocket-client 
wheel
zipp  

